<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.backend.chickenFarm.chicken_batch.mapper.ChickenBatchMapper">
	<resultMap id="batch" type="com.backend.chickenFarm.chicken_batch.dto.ChickenBatchDTO">
        <id     column="BATCH_ID"           property="batchId"/>
        <result column="ENTRY_DATE"         property="entryDate"/>
        <result column="INITIAL_COUNT"      property="initialCount"/>
        <result column="CURRENT_COUNT"      property="currentCount"/>
        <result column="SHIPMENT_STATUS"    property="shipmentStatus"/>
        <result column="FARM_NUM"           property="farmNum"/>
    </resultMap>
    <!--배치 번호 생성-->
    <select id="createBatchId" resultType="String">
        SELECT CONCAT(
            YEAR(NOW())
            , '-'
            , LPAD(IFNULL(MAX(CONVERT(SUBSTRING(BATCH_ID, 6), UNSIGNED)), 0) + 1, 3, '0')
        )
        FROM CHICKEN_BATCH
        WHERE BATCH_ID LIKE CONCAT(YEAR(NOW()), '-%')
    </select>

    <!--배치 등록-->
    <insert id="regBatch">
        INSERT INTO CHICKEN_BATCH (
            BATCH_ID
            , ENTRY_DATE
            , INITIAL_COUNT
            , CURRENT_COUNT
            , FARM_NUM
        ) VALUES (
            #{batchId}
            , #{entryDate}
            , #{initialCount}
            , #{currentCount}
            , #{farmNum}
        )
    </insert>

    <!--배치 정보 조회-->
    <select id="getBatchInfo" resultMap="batch">
        SELECT FARM_NUM
            , BATCH_ID
            , ENTRY_DATE
            , INITIAL_COUNT
            , CURRENT_COUNT
            , SHIPMENT_STATUS
        FROM CHICKEN_BATCH
    </select>
</mapper>































