<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.backend.chickenFarm.chicken_batch.mapper.ChickenBatchMapper">
	<resultMap id="batch" type="com.backend.chickenFarm.chicken_batch.dto.ChickenBatchDTO">
        <id     column="BATCH_ID"           property="batchId"/>
        <result column="ENTRY_DATE"         property="entryDate"/>
        <result column="INITIAL_COUNT"      property="initialCount"/>
        <result column="CURRENT_COUNT"      property="currentCount"/>
        <result column="SHIPMENT_STATUS"    property="shipmentStatus"/>
        <result column="FARM_NUM"           property="farmNum"/>
    </resultMap>
</mapper>































